@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-image: linear-gradient(to top, #30b5d0 0%, #330867 100%);
    background-repeat: no-repeat;
    height: 940px;
    
}
body, #screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#device{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    width: 400px;height: 600px;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff84;
    box-shadow: 20px 20px 10px 3px #33086746;
    border-radius: 0.5rem;
    background-color: #8c59cf;
}
.result, .input {
    width: 400px;
    word-wrap: break-word;
    font-weight:bold;
    background-color: #30b5d08a;
    
}
.result{
    height: 80px;
    font-size: 30px;
    color:rgba(255, 255, 255, 0.525);
    display: flex;
    align-items: center;
    text-align-last: left;
    border-top-right-radius:0.5rem ;
    border-top-left-radius:0.5rem ;
}
.input{
    height: 200px;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-right-radius:0.5rem ;
    border-bottom-left-radius:0.5rem ;
}
.previous, .current{
    width : 370px;
    height: 50px;
    text-align: end;
}
.previous{
    color: rgba(255, 255, 255, 0.773);
}
.keypad{
    margin-top: 0px;
    width: 400px;
    height:320px;
}
button{
    height: 64px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.511);
    border-radius: 0.5rem;
    background-color: #20254085;
    font-size: 18px;
}
button:hover{
    background-color: #282e4f;
    
}
button:active{
    background-color: #f2eeeb4f;
}


.keycontainer{
    display: grid;
    gap: -2px;
}